
<header style="width:1100px; text-align: center; margin: 50px auto"> 
  <h2>Report by category</h2> 
  <h3>from <%=params[:start_date]%> to <%=params[:end_date]%></h3>
</header>

<div style="width:1100px"> 
  <aside style="float:left; margin-right:100px">
    <canvas id="myChart"width="600" height="400"></canvas>

    <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const data = {
      labels: <%=raw @category_name%>,
      datasets: [{
        label: 'Сума',
        data: <%=@category_sum%>,
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(201, 203, 207)',
          'rgb(255, 255, 128)',
          'rgb(75, 150, 190)',
          'rgb(221, 233, 277)',
          'rgb(201, 253, 130)',
          'rgb(130, 203, 111)',
          'rgb(153, 45, 240)',
          'rgb(211, 53, 154)'
        ],
        hoverOffset: 4
      }]
    };
    const config = {
      type: 'doughnut',
      data: data,
      options: {
        responsive: false
      }
    };
    const myChart = new Chart(ctx, config );
    </script>
  </aside> 

  <main>
    <table id="category_report" class="table table-striped table-bordered" style = "width: 400px"> 
      <thead> 
        <tr style = "background-color:#e3f2fd"> 
          <th scope="col">#</th> 
          <th scope="col">Category</th> 
          <th scope="col">Amount</th>  
        </tr> 
      </thead> 
      <tbody> 
      
      <% n = 1 %> 
      <% @report_data.each do |category_name, category_sum| %> 
        <tr> 
            <th scope="row"><%= n %></th> 
            <td><%=category_name %></td> 
            <td><%=category_sum %></td>  
        </tr> 
      <% (n += 1) %> 
      <% end %>

        <tr>
            <th scope="row"></th> 
            <th>Total sum</th> 
            <th><%= @category_sum.sum %></td>
        <tr>
      
      </tbody>    
    </table> 
  </main> 
</div>

